<nav class="navbar navbar-expand-xl navbar-light sticky-top" id="nav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to restaurants_path, class: "navbar-brand" do %>
            <?xml version="1.0" ?>
            <svg id="Outline" style="enable-background:new 0 0 64 64;" version="1.1" viewBox="0 0 64 64"
            xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title/>
            <desc/>
            <g>
              <path d="M52.447,34.104L47,31.381V21c0-0.552-0.447-1-1-1h-8c-0.553,0-1,0.448-1,1v5.381l-4.553-2.276
              c-0.141-0.07-0.294-0.105-0.447-0.105s-0.307,0.035-0.447,0.105l-20,10c-0.494,0.247-0.694,0.848-0.447,1.342l2,4                c0.248,0.494,0.848,0.694,1.342,0.447L17,38.617V61c0,0.552,0.448,1,1,1h28c0.553,0,1-0.448,1-1V38.617l2.553,1.276
              c0.496,0.249,1.095,0.046,1.342-0.447l2-4C53.142,34.952,52.941,34.352,52.447,34.104z M45,22v2h-6v-2H45z M39,26h6v4.381l-6-3V26z
              M45,60H19V37.617l13-6.5l13,6.5V60z M49.553,37.657l-17.105-8.553c-0.281-0.141-0.613-0.141-0.895,0l-17.105,8.553l-1.105-2.211   L32,26.117l18.658,9.329L49.553,37.657z"/>
              <path d="M23.293,40.293c-2.596,2.595-2.596,6.819,0,9.414l8,8C31.488,57.902,31.744,58,32,58s0.512-0.098,0.707-0.293l8-8
              c2.596-2.595,2.596-6.819,0-9.414c-2.371-2.371-6.101-2.576-8.707-0.615C29.395,37.719,25.665,37.922,23.293,40.293z
              M39.293,41.707c1.815,1.816,1.815,4.77,0,6.586L32,55.586l-7.293-7.293c-1.815-1.816-1.815-4.77,0-6.586   c0.908-0.908,2.101-1.362,3.293-1.362s2.385,0.454,3.293,1.362c0.391,0.391,1.023,0.391,1.414,0
              C34.523,39.892,37.477,39.892,39.293,41.707z"/>
              <path d="M41.293,17.707C41.488,17.902,41.744,18,42,18s0.512-0.098,0.707-0.293l6-6c0.99-0.99,1.536-2.307,1.536-3.707
              s-0.546-2.717-1.536-3.707C46.884,2.471,44.044,2.275,42,3.7c-2.044-1.427-4.884-1.229-6.707,0.593                C34.303,5.283,33.757,6.6,33.757,8s0.546,2.717,1.536,3.707L41.293,17.707z M36.707,5.707C37.339,5.075,38.17,4.759,39,4.759
              s1.661,0.316,2.293,0.948c0.391,0.391,1.023,0.391,1.414,0c1.264-1.264,3.322-1.264,4.586,0c0.612,0.613,0.95,1.427,0.95,2.293
              s-0.338,1.68-0.95,2.293L42,15.586l-5.293-5.293C36.095,9.68,35.757,8.866,35.757,8S36.095,6.32,36.707,5.707z"/>
              </g>
            </svg>
          <% end %>
        </li>
      </ul>
      <form class="d-flex" action="<%= search_path %>" method="get">
        <input class="form-control me-2" name="q" value="<%= params[:q] %>" type="search" placeholder="Find restaurant" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Find</button>
      </form>
    </div>
  </div>
</nav>
